@import '../../Constants/Colors';
@import '../Mixins/mixins';

.cv-btn {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  color: $light-text-color;
  box-shadow: $light-text-color 3px 3px;
  outline: none;
  cursor: pointer;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: $light-text-color 1px 1px;
    transition: all ease-in-out 0.1s;
  }
}

.editor-block {
  padding: 30px 35px;
  border-radius: 10px;
  margin: 0px 0px 0px 40px;

  @include respond(sm) {
    margin: 40px 0px 0px 0px;
  }
}

.interest-card {
  height: 300px;
  width: 250px;
  border-radius: 8px;
  padding: 40px 30px;
  text-align: center;
  cursor: default;
  justify-content: flex-start;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  @include respond(md) {
    height: 250px;
    width: 200px;
  }
}


.icon-home {
  margin: 18px 8px;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  @include respond(md) {
    height: 16px;
    width: 16px;
  }
}