$light-bg-color: #f5f5f5;
$light-text-color: #1e1e1e;
$light-bg-color2: #b0f56e;

$dark-bg-color: #020202;
$dark-text-color: #f5f5f5;

$lighter-dark-bg: rgb(35, 35, 35);
$dark-shade-color: #435585;
$light-shade-color: #818FB4;

$light-scrollbar-color: #e2e2e2;