@mixin theme-styles-bg($bg-color) {
  background-color: $bg-color;
}

@mixin theme-styles-text($text-color) {
  color: $text-color;
}

@mixin theme-styles-bg-none() {
  background-color: unset;
}

@mixin flex-theme() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if($breakpoint ==md) {
    @media (max-width: 1000px) {
      @content
    }
  }

  ;

  @if($breakpoint ==sm) {
    @media (max-width: 750px) {
      @content
    }
  }
}