@import '../../Constants/Colors';
@import '../Mixins/mixins';

@font-face {
  font-family: monsterrat-thin;
  src: url('../../../public/Fonts/Montserrat-Thin.ttf');
}

@font-face {
  font-family: monsterrat-extralight;
  src: url('../../../public/Fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: monsterrat-light;
  src: url('../../../public/Fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: monsterrat-medium;
  src: url('../../../public/Fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: monsterrat-semibold;
  src: url('../../../public/Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: monsterrat-bold;
  src: url('../../../public/Fonts/Montserrat-Bold.ttf');
}

.m-t {
  font-family: monsterrat-thin;
}

.m-el {
  font-family: monsterrat-extralight;
}

.m-l {
  font-family: monsterrat-light;
}

.m-m {
  font-family: monsterrat-medium;
}

.m-sb {
  font-family: monsterrat-semibold;
}

.m-b {
  font-family: monsterrat-bold;
  font-weight: bolder;
}

.w-100 {
  min-width: 100%;
}

.column-flex {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.fs-14 {
  font-size: 14px;
  line-height: 18px;

  @include respond(md) {
    font-size: 12px;
    line-height: 16px;
  }
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;

  @include respond(md) {
    font-size: 14px;
    line-height: 20px;
  }
}

.fs-18 {
  font-size: 18px;
  line-height: 24px;

  @include respond(md) {
    font-size: 16px;
    line-height: 22px;
  }
}

.fs-24 {
  font-size: 24px;
  line-height: 32px;


  @include respond(md) {
    font-size: 22px;
    line-height: 28px;
  }
}

.fs-32 {
  font-size: 32px;
  line-height: 40px;

  @include respond(md) {
    font-size: 28px;
    line-height: 36px;
  }
}

.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mg-8 {
  margin: 8px;
}

.mgb-150 {
  margin-bottom: 150px;
}

.pd-app {
  padding: 120px 120px 80px;

  @include respond(md) {
    padding: 60px 60px 40px;
  }

  @include respond(sm) {
    padding: 30px 30px 20px;
  }
}

.pdl-25 {
  padding-left: 25px;
}

.align-center {
  text-align: center;
}

section {
  padding: 40px 0px 80px;
  margin-bottom: 24px;
  min-width: 100%;
}

header {
  position: sticky;
}

.gradient-block {
  background: linear-gradient(134deg, $light-shade-color 0%,$dark-shade-color 99%);
}

.app-container {
  display: block;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  line-height: 24px;
  font-family: monsterrat-light;

  @include respond(md) {
    font-size: 12px;
    line-height: 18px;
  }
}

.space-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;

  @include respond(sm) {
    flex-direction: column;
  }
}

.space-around-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
  color: inherit;
}

.flex-wrap {
  flex-wrap: wrap;
}

.shadow-effect {
  box-shadow: rgba(0,0,0,0.05) 0px 5px 10px;
}