@import '../../Constants/Colors';

@font-face {
  font-family: monsterrat-thin;
  src: url('../../../public/Fonts/Montserrat-Thin.ttf');
}

@font-face {
  font-family: monsterrat-extralight;
  src: url('../../../public/Fonts/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: monsterrat-light;
  src: url('../../../public/Fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: monsterrat-medium;
  src: url('../../../public/Fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: monsterrat-semibold;
  src: url('../../../public/Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: monsterrat-bold;
  src: url('../../../public/Fonts/Montserrat-Bold.ttf');
}

.m-t {
  font-family: monsterrat-thin;
}

.m-el {
  font-family: monsterrat-extralight;
}

.m-l {
  font-family: monsterrat-light;
}

.m-m {
  font-family: monsterrat-medium;
}

.m-sb {
  font-family: monsterrat-semibold;
}

.m-b {
  font-family: monsterrat-bold;
  font-weight: bolder;
}

.w-100 {
  min-width: 100%;
}

.column-flex {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;
}

.fs-18 {
  font-size: 18px;
  line-height: 24px;
}

.fs-24 {
  font-size: 24px;
  line-height: 32px;
}

.fs-32 {
  font-size: 32px;
  line-height: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mg-8 {
  margin: 8px;
}

.mgb-200 {
  margin-bottom: 200px;
}

section {
  margin-bottom: 24px;
}

header {
  position: sticky;
}

.gradient-block {
  background: linear-gradient(134deg, $light-shade-color 0%,$dark-shade-color 99%);
}

.app-container {
  display: block;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: monsterrat-light;
}

.space-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
}

.section-padding {
  padding: 40px 120px 80px;
}